<h1>Editing Project</h1>

<%= form_for @project, url: { controller:'projects', action: 'update' } do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :project_name %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.text_field :image, id: :project_image %>
  </div>

  <div class="field">
    <%= form.label :my_role %>
    <%= form.text_field :my_role, id: :project_my_role %>
  </div>

  <div class="field">
    <%= form.label :desc %>
    <%= form.text_area :desc, id: :project_desc %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= link_to 'Show', { controller: 'projects', action: 'show', id: @project.id } %> |
<%= link_to 'Back', { controller: 'projects', action: 'index' } %>
