<h1>Editing Link</h1>

<%= form_for @link, url: { controller:'links', action: 'update' } do |form| %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :link_name %>
  </div>

  <div class="field">
    <%= form.label :fa_icon_name %>
    <%= form.text_field :fa_icon_name, id: :link_fa_icon_name %>
  </div>

  <div class="field">
    <%= form.label :link %>
    <%= form.text_field :link, id: :link_link %>
  </div>

  <div class="field">
    <%= form.label :color %>
    <%= form.text_field :color, id: :link_color %>
  </div>

  <div class="field">
    <%= form.label :size %>
    <%= form.text_field :size, id: :link_size %>
  </div>

  <div class="field">
    <%= form.label :footer_visible %>

    <%= form.select :footer_visible, options_for_select([['Yes', true], ['No', false]], selected: @link.footer_visible) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= link_to 'Show', { controller: 'links', action: 'show', id: @link.id } %> |
<%= link_to 'Back', { controller: 'links', action: 'index' } %>