<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <%= link_to @settings.firstname + " " + @settings.lastname + " - " +  @settings.title, { controller: 'statics', action: 'home'}, class: 'navbar-brand', id: 'logo' %>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Accueil", "#" %></li>
          <li><%= link_to "Portfolio", '#' %></li>
          <li><%= link_to "Compétences", "#" %></li>
          <li><%= link_to "Contact", "#" %></li>
        <% if logged_in? %>
          <div class="navbar-form navbar-right">
            <li><%= link_to "Log out", { controller: 'sessions', action: 'destroy' }, method: :delete, class: "btn btn-danger" %></li>
          </div>
          <div class="navbar-form navbar-right">
            <li><%= link_to "Admin", { controller: 'admins', action: 'home' }, class: "btn btn-success" %></li>
          </div>
        </ul>
        <% end %>
      </div><!--/.navbar-collapse -->
  </div>
</nav>




